.title, .descrizione{
    text-align: center;
    margin: 35px;
}
#buttonstart{
    margin: 0 auto;

    width: fit-content;
    border: solid red 2px;
    text-align: center;
    margin-top: 100px;
}
.centerelement{
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    text-align: center;
}
.invisible{
    display: none;
}
.picture{
    display: block;
    text-align: center;
    margin: 0 auto;
    border: solid black 2px;
    height: 500px;
    width: 500px;
    max-width: 500px;
    max-height: 315px;
    min-height: 315px;
    min-width: 200px;
}
.clicked{
    pointer-events: none;
}

#idcounter{
    margin-top: 25px;
}
